@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Orbit&family=Overpass&family=PT+Sans&family=Poppins:wght@500&family=Raleway:wght@300&family=Ubuntu&family=Work+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 227, 227);
}
/*Using flex on header to display all content within horizontally, space and position them evenly*/
header{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    background-color: #1e90ff;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 25%;
}
header h2{
    font-size: 28px;
}

header nav a{
    text-decoration: none;
    padding-left: 10px;
    color: white;
    font-size: 18px;
}

header input{
    width: 280px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    outline: none;
    border: 0;
    margin-left: -20px;
}
/*hidden menu for screen size 800px and below*/
.menu{
    opacity: 0;
    position: absolute;
}
.menu .inside{
    flex-direction: column;
    position: absolute;
    gap: 10px;
    margin-top: 10px;
    background-color:#1e90ff;
    padding: 20px;
    top: 20px;
    right: -39px;
    width: 100px;
    display: none;
}


/*Using flex on main section to display the two divs within horizontally*/
main{
    display: flex;
    margin-top: 25px;
    justify-content: center;/*to center the content*/
    margin-left: 150px;
    gap: 10px;
}

.left-side{
    box-shadow: rgba(56, 56, 56, 0.308) 1px 2px 3px 1px;
    width: 500px;
    height: 700px;
    background-color: white;
}
.left-side img{
    width: 500px;
    height: auto;
}
.left-side p{
    font-size: 15px;
    margin-right: 20px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: -20px;
}
.left-side h4{
    padding-left: 10px;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
}   
button{
    background-color: #1e90ff;
    border: 0;
    padding: 10px;
    color: white;
    float: right;
    border-radius: 2px;
    font-size: 13px;
    margin-right: 20px;
    width: 90px;
}

/*Using flex on right side div to position the 4 sections within a 2 by 2 form*/
.right-side{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    gap: 15px;
}
section img{
    width: 200px;
}
section p{
    font-size: 13px;
    margin-top: -10px;  
}
section{
    width: 30%;
    padding: 25px;
    box-shadow: rgba(56, 56, 56, 0.308) 1px 2px 3px 1px;
    padding-bottom: 10px;
    background-color: white;
}
section button{
    margin-right: 0px;
    margin-top: 30px;
}
section h4, p{
    font-family:'Raleway', sans-serif;
}
footer p{
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    color: rgb(76, 76, 76);
} 
@media screen and (min-width: 1281px ) and (max-width: 1389px){
    header{
        gap: 20%;
    }
}
@media screen and (max-width: 1280px){
        header{
            height: 80px;
            gap: 10%;
        }
        header h2{
            font-size: 25px;
        }
        header input{
            height: 34px;
            margin-left: 100px;
        }
        main{
            margin-left: 20px;
        }
        .left-side{
            height: 750px;
            width: 110%;
        }
        .left-side img{
            width: 100%;
        }
        section{
            width: 40%; 
            padding-bottom: 10px;
        }
        section img{
            width: 105%;
        }
        .right-side{
            width: 155%;
        }
}
@media screen and (max-width: 1024px) {
    header h2{
        font-size: 20px;
    }
    header nav a{
        font-size: 14px;
    }
    header input{
        width: 20%;
    }
    .right-side{
        width: 140%;
    }
    .left-side{
        width: 200%;
    }
    section{
        width: 80%;
    }
    section img{
        width: 100%;
        margin-bottom: -25px;
    }
    section h4{
        font-size: 25px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 800px) {
    main{
        flex-direction: column;
        margin-left: 50px;
    }
    header{
        gap: 0%;
        width: 1850px;
        height: 120px;
    }
    header h2{
        font-size: 60px;
        margin-right: 80%;
    }
    nav{
        display: none;
    }   
    input{
        display: none;
    }

    .left-side{
        width: 1740px;
        height: 100%;
        padding-bottom: 15px;
    }       
    .left-side p, .right-side p{
        font-size: 35px;
    }
    .left-side h4, .right-side h4{
        font-size: 50px;
    }
    button{
        font-size: 20px;
        width: 150px;
        padding: 15px 15px;
    } 
    .menu{
        opacity: 1;
        font-size: 50px;
        margin-left: 1500px;
    }
    .menu a{
        text-decoration: none;  
        color: white;
    }
        
    .menu .inside a{
        text-decoration: none ;
    
    }
    .menu a:hover+.inside{
        display: flex;
    }
    section{
        width: 810px;
    }
    section img{
        width: 100%;    
    }
    .right-side{
        flex-direction: row;
        width: 1740px;
    }
    footer p{
        font-size: 30px;
    }
    footer{
        margin-left: 200px;
        width: 200%;
    }
}


@media screen and (max-width: 480px) {
    header{
        height:150px;
    }
    header h2{
        font-size: 45px;
    }
    .menu a{
        font-size: 30px;
    }
    section{
        width: 1700px; 
        margin-bottom: 30px;
    }
    .left-side{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .left-side, .right-side section{
        padding-bottom: 40px;
    }
    .left-side p, .right-side p{
        font-size: 40px;
    }
    .left-side h4, .right-side h4{
        font-size: 50px;
    }
    button{
        font-size: 40px;
        width: 250px;
        padding: 15px 15px;
    } 
    footer p{
        font-size: 30px;
    }

}